@{
    ViewData["Title"] = "PassUsingService";
    @inject lab11.Services.IGetData GetData;
}

<h1>@ViewData["Title"]</h1>

<p class="bold">Rand value first: @GetData.firstNumber</p>
<p class="bold">Rand value second: @GetData.secondNumber</p>

<h2>Add :</h2>
<p>@GetData.firstNumber + @GetData.secondNumber = @GetData.Sum()</p>

<h2>Sub :</h2>
<p>@GetData.firstNumber - @GetData.secondNumber = @GetData.Sub()</p>

<h2>Mult :</h2>
<p>@GetData.firstNumber * @GetData.secondNumber = @GetData.Mult()</p>

<h2>Div :</h2>
<p>
    @GetData.firstNumber / @GetData.secondNumber =

    @if (@GetData.Div() == -1)
    {
        @: Error
    }
    else
    {
        @GetData.Div()
    }
</p>